@font-face {
  font-family: 'Kalameh';
  src: url('/fonts/Kalameh-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Kalameh';
  src: url('/fonts/Kalameh-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Kalameh';
  src: url('/fonts/Kalameh-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Kalameh';
  src: url('/fonts/Kalameh-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
