@import './fonts';
@import 'react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Kalameh, Roboto, Tahoma, serif;
  direction: rtl;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(237, 235, 235);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
